@import url(./global.css);

/* ------------ HEADER  ----------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color-white);
}

header nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: var( --font-primary);
}

header nav ul li a{
    text-decoration: none;
    color: var(--color-black);
}

.btn-header{
    text-decoration: none;
    font-family: var(--font-primary);
    border-radius: 15px 3px 15px 3px;
    background-color: var(--color-green);
    padding: 12px 30px;
    color: var( --color-black);
}

/* ------------ MAIN  ----------- */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 54px 0;
}

.container-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 499px;
}

.reviews{
    display: flex;
    gap: 5px;
}

.reviews p{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-body);
}

.reviews span{
    color: var(--color-gray);
    font-family: var(--font-primary);
}

.container-main p{
    font-family: var(--font-primary);
    color: var(--color-gray-2);
}

.product-prices{
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-prices p{
    font-size: var(--font-size-h4);
    color: var(--color-blue);
    font-weight: var( --font-weight-h4);
}

#span{
    font-family: var(--font-primary);
    font-weight: var( --font-weight-button);
    font-size: var(--font-size-body);
    color: var(--color-gray-3);
    text-decoration: line-through;
}

#span2{
    font-family: var(--font-primary);
    background-color: var(--color-yellow);
    padding: 5px 10px;
    font-weight: var(--font-weight-h4);
}

.click input{
    width: 32px;
    height: 32px;
}

.container-main button{
    background-color: var(--color-green);
    font-family: var(--font-primary);
    font-size: var(--font-size-button);
    border-radius: 15px 3px 15px 3px;
    padding: 12px 30px;
    color: var( --color-black);
    width: 222px;
}

/* ------------ SECTION ------------ */

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    gap: 50px;
    background-color: rgb(245, 242, 240);
}

section h1{
    font-family: var(--font-primary);
    font-size: var(--font-size-h1);
}

.informations input{
    border: 1px solid var(--color-black);
    border-radius: 5px;
}

.container-informations{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-family: var(--font-primary);
}

section form input{
    border: 1px solid var(--color-black);
    border-radius: 5px;
    padding: 10px 15px;
}

section button{
    font-family: var(--font-primary);
    border-radius: 15px 3px 15px 3px;
    background-color: var(--color-green);
    padding: 12px 30px;
    color: var( --color-black);
}